
<div class="container-fluid header-home" >

	<div class="container" >
		<!-- LOGO -->
		<div class="container" >

			<img src="./__img/logo_svg.svg" onerror="this.src='./__img/logo_med_high.png';"
			class="center-block" style="margin-top: 35pt; margin-bottom: 35pt; width: 180px;">

		</div>

		<div class="row">
			<form class="col-md-8 col-md-offset-2 col-xs-12 col-sm-10 col-sm-offset-1" ><!-- style="max-width:20px;" -->
				<input 	ng-model="searchQuery"
						class="form-control input-block-level noRound text-input no-glow"
						type="text" 
						placeholder="{{'SEARCH_PLACEHOLDER' | translate}}..." 
						ng-trim="true">

				<div class="text-center">
					<button class="btn btn-success btn-mobile btnPesquisar" style="margin-top:10px;" ng-click="search(searchQuery)" ng-disabled="loading" >

					<!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> --><strong style="font-size: larger;">{{ 'SEARCH' | translate }}</strong></button>
				</div>

			</form>
		</div>
	</div>

</div>

<div class="text-center" style="margin: 40px;" ng-if="loading">
<div class="spinner">
</div>
</div>

<div class="text-center" style="margin: 40px;" ng-if="error && !loading">
<div class="error-panel">
<h2>{{'ERROR_TITLE' | translate}}</h2>
<h4>{{'ERROR_MESSAGE' | translate}}</h4>
</div>
</div>

<!-- LIST -->
<div class="container-fluid" style="visibility:{{loading ? 'hidden' : 'visible'}}" >
	<div class="container" >
		<div class="container col-md-8 col-md-offset-2 col-xs-12 col-sm-10 col-sm-offset-1 list-item" ng-repeat="place in venues"
			ng-click="venueSelect(place.id || place.id_4sq)">
					<div class="list-item-text" >
						
						<div class="list-item-index" > <!-- class="visible-lg-block"  -->
							<img src="./__img/indice_bg3.png" class="center-block" style="width: 80px; height: 80px; ">
							<h2 class="list-index-label">{{place.aquaIndice}}</h2>
						</div>

						<strong>{{place.name}}</strong>
						<p class="list-item-subtext" >{{formataEndereco(place.location.address, place.location.city, place.location.state, place.location.country)}}</p>
					</div>
			</div>
	</div>
	<div class="text-center" style="margin-bottom: 10px;">
     <button class="btn btn-success btnLanguage" ng-click="changeLanguage('pt')" ng-if="language ==='en'" >Versão em Português</button>
	<button class="btn btn-success btnLanguage" ng-click="changeLanguage('en')" autofocus="true" ng-if="language ==='pt'">English Version</button>
	</div>
      
      </div>

