<!-- HEADER -->
<div class="container-fluid header-venue navbar-fixed-top">

	<button class="btn btn-success btnPesquisar" style="margin-top:10px;" ng-click="goBack()"  >
		<strong style="font-size: larger;">{{ 'BACK' | translate }}</strong>
	</button>

<!-- 				<div class="pull-right" ng-if="topAquaIndiceVisible" >
				<div class="venue-avatar-aqua-index-top-label">
					<img src="./__img/rounded_bg_white.png" class="center-block" style="width: 42px; height: 42px; position: absolute;" >
					<h4 class="venue-aqua-indice-top-value" >{{venue.aquaIndice}}</h4>
				</div>
			</div> -->

</div>

<div class="text-center" style="margin: 104px;" ng-if="loading">
<div class="spinner">
</div>
</div>

<div class="container-fluid" style="margin-top: 64px;visibility:{{loading ? 'hidden' : 'visible'}}" >
	<div class="container" >

	<!-- VENUE DATA -->

	<div class="container-fluid col-md-8 col-md-offset-2 col-xs-12 col-sm-10 col-sm-offset-1 venue-data-panel"  >
		<div class="row">

		<!-- AVATAR -->
			<div class="venue-data-avatar col-xs-12 col-sm-3 col-md-3 col-lg-3" >
				<p class="venue-aqua-indice-label text-center">{{'AQUA_INDEX' | translate}}</p>
				<div class="venue-avatar-aqua-index-label">
					<img src="./__img/rounded_bg_white.png" class="center-block" style="width: 80px; height: 80px; position: absolute;" >
					<h4 class="venue-aqua-indice-value" in-view="lineInView($index, $inview, $inviewpart, $event)">{{venue.aquaIndice}}</h4>
				</div>
			</div>

			<!-- CONTEUDO -->
			<div class="venue-data-panel-content col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<p class="venue-name-label">{{venue.name}}</p>
				<a class="white-link" href="{{venue.url}}" target="_blank" onclick="ga('send', 'pageview', '/linkExterno/');">{{venue.url}}</a>
				<p style="color:#ffffff">{{venue.updated_at_label}}</p>
			</div>

		</div>
	</div>


<!-- FLAGS LIST -->
		<div class="container col-md-8 col-md-offset-2 col-xs-12 col-sm-10 col-sm-offset-1 list-item-flags" ng-repeat="indicador in venue.indices">
			<!-- ========================================== -->
			
				<div>

					<p class="text-center"><strong>{{indicador.desc}}</strong></p>
						<p class="list-item-subtext-flags" >{{indicador.obs}}</p>
				</div>

				<div style="width: 200px; height:100px;float: none;
     margin-left: auto;
     margin-right: auto;">
					<div class="pull-left">
					<div class="list-item-index-flags" ng-click="avaliar($event, indicador.id, 0)"  > <!-- class="visible-lg-block"  -->
						<img src="{{indicador.valor == 0 ? './__img/rounded_bg_red.png' : './__img/rounded_bg_silver.png'}}" class="center-block flagButton" style="width: 80px; height: 80px; ">
						<h4 class="list-index-label-flags">{{ 'NO' | translate }}</h4>
					</div>
				  
					</div>
					<div class="pull-right">
					 <div class="list-item-index-flags" ng-click="avaliar($event, indicador.id, 1)">
							<img src="{{indicador.valor == 1 ? './__img/indice_bg3.png' : './__img/rounded_bg_silver.png'}}" class="center-block flagButton" style="width: 80px; height: 80px; ">
							<h4 class="list-index-label-flags">{{ 'YES' | translate }}</h4>
					</div>
				</div>
				</div>
			<!-- </div> -->

			<!-- ========================================== -->
		</div>
	</div>
</div>
