body {
   padding-right: 0px !important;
	padding-left: 0px !important;
  min-height: 650px;
  background-color: #f0f0f0;
}

* {

}

.noRound {
  border-radius: 0 !important;
}

.container{
	  padding-right: 0px;
	  padding-left: 0px;

}

.btn-mobile {
  /*display: block;
  width: 100%;*/
   min-width: 200px;
  }

@media (min-width: 450px) {
  .btn-mobile {
  display: inline-block;
  min-width: 200px;
  width: auto;
  }
}

.list-group-item {
	padding: 10px 5px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    display: none !important;
}

.header-home{
  background-color: #0e6bb8;
  border-bottom: 5px solid #5c9cd0;
  padding-bottom: 50px;
  margin-bottom:5px;
}

.header-venue{
  background-color: #0e6bb8;
  border-bottom: 5px solid #5c9cd0;
  padding-bottom: 10px;
  margin-bottom:5px;
  padding-left: 10px;
}

.btnPesquisar, .btnPesquisar:hover, .btnPesquisar:active, .btnPesquisar:focus, .btnPesquisar:disabled {
  background-color: #00ca8c;
  border-color: #00ca8c;
}

.text-input {
  box-shadow: none;
  font-size: 18px;
  padding: 12px 20px 12px 10px;
  font-weight: 400;

}

.btn:focus,.btn:active {
   outline: none !important;
}

.no-glow{
    outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.list-item {
  background-color: #FFFFFF;
  margin-bottom: 8px;
  padding-bottom: 8px;
  cursor: pointer; 
  cursor: hand;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.list-item-flags {
  background-color: #FFFFFF;
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.list-item-index {
  /*background-color: #f9f9f9;*/
  width: 80px;
  float: right;
  height: 80px;
  /*padding-top: 10px;
  padding-left: 10px;*/
  position:relative;
  margin-left: 20px;

}
.list-item-index-flags {
  /*background-color: #f9f9f9;*/
  width: 80px;
  height: 80px;
  /*padding-top: 10px;
  padding-left: 10px;*/
  position:relative;
  margin-left: 20px;
    cursor: pointer; 
  cursor: hand;

}

.venue-avatar-aqua-index-label {
  width: 80px;
  height: 80px;
  float: none;
  margin-left: auto;
  margin-right: auto;

}

.list-item-text{
  /*float:left;*/
  padding: 8px;
}

.list-item-subtext{
  color: #9e9e9e;
}

.list-item-subtext-flags{
  color: #9e9e9e;
  padding:20px;
}

.list-index-label{
  position: absolute;
  top: 4px;
  left: 15px;
  color: #ffffff;
  font-weight: bold;
  width: 50px;
  text-align: center;

}

.list-index-label-flags{
  position: absolute;
  top: 20px;
  left: 15px;
  color: #ffffff;
  font-weight: bold;
  width: 50px;
  text-align: center;

}

.venue-data-panel{
    background-color: #5c9cd0;
  /*border-bottom: 5px solid #0e6bb8;*/
 
  margin-top: 20px;
  margin-bottom: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);


}

.venue-name-label{
  color: #ffffff;
  font-weight: bold;
}

.venue-data-avatar{
    background-color: #0e6bb8;
    padding: 10px;
    padding-bottom: 16px;

}

.venue-aqua-indice-label{
  color: #ffffff;
  font-weight: bold;
}

.venue-aqua-indice-value{
  position: absolute;
  /*position: absolute;
  top: 60px;
  left: 65px;*/
  color: #0e6bb8;
  font-weight: bold;
  width: 77px;
  text-align: center;
  font-size: 28px;
    float: none;
  margin-left: auto;
  margin-right: auto;
  line-height: 65px;

}

.venue-data-panel-content{
  padding: 20px;
}

a:link
{
    color:#FFFFFF;
}

a:visited
{
    color:#FFFFFF;
}

a:hover 
{
    color:#FFFFFF;
}

.error-panel{
  background-color: #c7524e;
  color: #ffffff;
  padding: 20px;
}

.btnLanguage, .btnLanguage:hover, .btnLanguage:active, .btnLanguage:focus, .btnLanguage:disabled {
  background-color: #979797;
  border-color: #979797;
}